body   {
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: #342f6b;
}
h2 {
    color:#82a36f;
}
p {
    font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  
  border-radius: 12px;
  
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
